####################################
# OS
####################################
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

####################################
# Editor / IDE
####################################
.vscode/
.idea/
*.swp
*.swo
*.iml

####################################
# Logs
####################################
logs/
*.log

####################################
# Env / Secrets
####################################
.env
.env.*
!.env.example

####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
ENV/
env/

####################################
# Jupyter
####################################
.ipynb_checkpoints/

####################################
# Node.js
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# Java / Spring
####################################
*.class
*.jar
*.war
*.ear
target/
build/

####################################
# Gradle
####################################
.gradle/
gradle-app.setting
!gradle-wrapper.jar

####################################
# Maven
####################################
dependency-reduced-pom.xml

####################################
# Temporary / Cache
####################################
tmp/
temp/
.cache/

####################################
# data
####################################
data/